<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title || 'My Bookstore' %></title>
</head>
<body>
  <%- include('././partials/header') %>
  <%- body %>
</body>
</html>
