<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title || 'My Bookstore' %></title>
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="./css/home.css">
</head>
<body>
  <%- include('./partials/header') %>
  <%- body %>
</body>
</html>