<section class="welcome">
  <div class="welcomeContent">
    <h1>Welcome to the Bookstore</h1>
    <p>Discover your next favorite book</p>
    <a href="./books" class="browseButton">Browse Collection</a>
  </div>
</section>

<section class="features">
  <div class="featureBox">
    <div class="featureLogo"></div>
    <h3>Become a Member</h3>
    <p>Become a member and get access to a big collection of books!</p>
  </div>

  <div class="featureBox">
    <div class="featureLogo"></div>
    <h3>Sorting</h3>
    <p>Sort by author, subject or whatver title you want to find the book for you!</p>
  </div>

  <div class="featureBox">
    <div class="featureLogo"></div>
    <h3>Add Books you Fancy to Cart</h3>
    <p>The order system allows you to add books to you cart and purchase them!</p>
  </div>
</section>

<footer>
  <p>&copy; The Online Book Store - 1DV503</p>
</footer>